// poppins
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

@font-face {
    font-family: "Eveleth Bold";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Eveleth-Bold.otf") format("OpenType");
}
@font-face {
    font-family: "Eveleth Regular";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Eveleth-Regular.otf") format("OpenType");
}
