/* =============
### header scss
=================*/

.header-top {
    background: transparent !important;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    @include bp(bm) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .toggle-menu {
        width: 50px;
        position: relative;
        height: 50px;
        display: none;
        @include bp(bm) {
            display: block;
        }
        i {
            position: absolute;
            display: block;
            height: 2px;
            background: white;
            width: 30px;
            left: 10px;
            transition: all 0.3s;
        }
    }
    .l-left{
        @include bp(bm){
            img{
                width: 90px;
            }
        }
    }
    .l-middle {
        display: none;
        .desktop-image {
            @include bp(bm) {
                display: none;
            }
        }
        .mobile-image {
            @include up(bm) {
                display: none;
            }
        }
    }
    .l-right {
        @include bp(bm) {
            display: none;
        }
        .btn {
            font-size: 20px;
            text-align: center;
            color: white;
            background: rgba(64, 64, 64, 0.79);
            border-radius: 20px;
            padding: 10px 30px;
            border: none;
        }
    }
}

.toggle-menu i:nth-child(1) {
    top: 16px;
}

.toggle-menu i:nth-child(2) {
    top: 24px;
}

.toggle-menu i:nth-child(3) {
    top: 32px;
}

.open-menu i:nth-child(1) {
    top: 25px;
    transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
    background: transparent;
}

.open-menu i:nth-child(3) {
    top: 25px;
    transform: rotateZ(-45deg);
}

nav {
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    background: rgba(0, 47, 77, 0.25);
    position: fixed;
    top: 70px;
    width: 100%;
    transition: all 3s;
}

.open-menu ~ nav {
    opacity: 1;
    padding: 80px 0;
    z-index: 15;
    height: calc(90vh - 70px);
}

nav ul {
    padding: 0 10px;
    display: flex;
}

nav li {
    flex: 1;
}

nav li a {
    font-size: 2em;
    display: block;
    padding: 30px;
    text-align: center;
    transition: background 0.3s;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
    background: #962d3e;
}

nav li:nth-child(even) a {
    background: #aa3346;
}

nav li:nth-child(odd) a:hover {
    background: #9e2f41;
}

nav li:nth-child(even) a:hover {
    background: #c53c52;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
    background: #453659;
}

/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221f;
}

.js-navigation {
    ul {
        li {
            &[data-menuanchor="secondSection"] {
                display: none;
            }
            &[data-menuanchor="thirdSection"] {
                display: none;
            }
        }
    }
}

.fp-viewing-secondSection {
    #menu {
        li[data-menuanchor="firstSection"] {
            display: block;
            a {
                font-size: 14px;
                &::after {
                    width: 150px;
                }
            }
        }
        li.active[data-menuanchor="secondSection"] {
            display: none;
        }
    }
}
.fp-viewing-thirdSection {
    #menu {
        li[data-menuanchor="firstSection"] {
            display: block;
            a {
                font-size: 14px;
                &::after {
                    width: 150px;
                }
            }
        }
        li.active[data-menuanchor="thirdSection"] {
            display: none;
        }
    }
}
body.fp-viewing-sixthSection {
    #menu {
        li[data-menuanchor="fifthSection"] {
            display: block;
            a {
                font-size: 14px;
                &::after {
                    width: 150px;
                }
            }
        }
        li.active[data-menuanchor="sixthSection"] {
            display: none;
        }
    }
}
.fp-viewing-seventhSection-0 {
    #menu {
        display: none;
        li[data-menuanchor="fifthSection"] {
            display: block;
            a {
                font-size: 14px;
            }
        }
        li.active[data-menuanchor="sixthSection"] {
            display: none;
        }
    }
}
.js-navigation {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 111;
    transform: translateY(-50%);
 @include bp(bt){
        display: none;
    }
    ul {
        li {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            flex-direction: column;
            a::after {
                content: "";
                width: 100px;
                height: 1px;
                background-color: #fff;
                margin-left: auto;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            a {
                position: relative;
                font-size: 0;
                color: #fff;
                font-weight: 600;
                display: inline-block;
                text-align: right;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            &:not(:last-child) a {
                // margin-bottom: 10px;
                padding-right: 5px;
            }

            &.active {
                a::after {
                    width: 150px;
                }
                a {
                    font-size: 14px;
                    padding-left: 30px;
                }
            }
        }
    }
}
.madeby {
    position: fixed;
    right: 5px;
    top: 75%;
    z-index: 11;
    transform: translateX(calc(50% - 32px));
    @include bp(bm){
        display: none;
    }
    p {
        margin-bottom: 0;
        color: white;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        transform: rotate(90deg);
    }
    a{
        color: white;
        font-weight: 700;
        text-decoration: none;
    }
}

.production-by {
    position: fixed;
    right: 76px;
    bottom: 30px;
    z-index: 11;
    @include bp(bm){
        display: none;
    }
    p {
        margin-bottom: 0;
        color: white;
        font-weight: 700;
        font-size: 16px;
    }
}

.social-icons {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    @include bp(bm){
        display: none;
    }
    .fab {
        color: #fff;
        font-size: 16px;
    }
}
/* =============
###End header scss
=================*/
