:root {
    --body-font: "Rubik", sans-serif;
    --font-bold: bold;
}

:root {
    --blue: #061a59;
    --blue-light: #0fabf6;
    --blue-dark: #6204cc;
    --red: #f70559;
}

:root{
--border: #cdd1de;
}



@keyframes updown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}







/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

